@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap");
body {
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 1em;
  font-style: normal;
}

header {
  display: flex;
}
header img {
  width: 30%;
  height: 5em;
}
header .lep {
  font-size: 1.1em;
  text-decoration: overline;
  color: black;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.3em;
  font-weight: bold;
}
header div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header div p {
  margin: 0 auto;
  font-size: 0.8em;
  color: #236bf3;
  margin-right: 0.3em;
}

@media screen and (min-width: 601px) and (max-width: 1900px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .burgermenu .burger {
    display: none;
  }
  .burgermenu .navmenu {
    display: block;
  }
}
.burgermenu .menu {
  list-style: none;
}
.burgermenu nav {
  display: none;
}
.burgermenu .croix {
  display: none;
}
.burgermenu input {
  display: none;
}
.burgermenu input:checked ~ nav {
  display: block;
}
.burgermenu input:checked ~ .burger {
  display: none;
}
.burgermenu input:checked ~ .croix {
  display: block;
}

.imgpresentation {
  background-image: url(../nocode/images/photoncs.jpeg);
  background-size: 500px;
  background-position: center;
  margin-top: 0.1em;
}
.imgpresentation .pressous {
  padding: 4em;
  background-color: rgba(7, 10, 73, 0.51);
  text-align: center;
  color: #ffffff;
}

.conf12 {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.conf12 article {
  background-color: rgba(7, 10, 73, 0.32);
  margin: 1em;
  border-radius: 1em;
}
.conf12 article h3 {
  margin-top: 5%;
  text-decoration: underline;
}
.conf12 article p {
  margin-right: 5%;
  margin-left: 5%;
  background-color: rgba(84, 52, 138, 0.4705882353);
  border-radius: 1em;
  padding-right: 5%;
  padding-left: 5%;
}
.conf12 img {
  width: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@media screen and (min-width: 500px) and (max-width: 1900px) {
  .conf12 {
    display: flex;
    align-items: flex-start;
  }
  .conf12 article {
    width: 50%;
  }
}
.conf3 {
  text-align: center;
  background-color: rgba(7, 10, 73, 0.32);
  margin: 1em;
  border-radius: 1em;
  margin-left: 5%;
  margin-right: 5%;
}
.conf3 h3 {
  margin-top: 5%;
  text-decoration: underline;
}
.conf3 p {
  margin-right: 5%;
  margin-left: 5%;
  background-color: rgba(84, 52, 138, 0.4705882353);
  border-radius: 1em;
  padding-right: 5%;
  padding-left: 5%;
}
.conf3 img {
  width: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.gallerie {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.gallerie img {
  width: 100%;
  border-radius: 1em;
}

@media screen and (min-width: 500px) and (max-width: 1900px) {
  .gallerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .gallerie img:nth-child(3) {
    grid-area: 2/1/3/3;
  }
}
footer {
  background-color: #030329;
  text-align: center;
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.1em;
}

/*# sourceMappingURL=style.css.map */
